@charset "UTF-8";


body {
    background-color: rgb(26, 22, 36);
    color: whitesmoke;
}

div#calc {
    margin: auto;
    background-color: rgb(103, 103, 235);
    width: 450px;
    height: 250px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    border-radius: 0.3em;
    position: relative;
    padding: 1em;
    padding-bottom: 0.7em;
    margin: -1px;
}

button#special {
    background-color: orange;
}

p {
    font-weight: bold;
    font-size: 22px;
}